.categoriesGrid {
  display: grid;
  padding: 10px 30px;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  justify-content: space-between;
}
.fullItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    span {
        font-size: 11px;
        font-weight: 400;
        color: var(--primary-color);
    }
}
.categoryItem {
  display: flex;
  transition: .3s;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 78px;
  background-color: var(--input-bg);
  border-radius: 14px;
  border: 1px solid var(--border-color);
  svg {
    transition: .3s;
  }
  cursor: pointer;
  transition: transform 0.3s ease;


  span {
    margin-top: 8px;
    font-size: 14px;
    color: var(--primary-color);
  }
}

.active {
    .categoryItem {
        border-color: #F09004;
    }
  svg {
    path {
      stroke: #F09004; /* Change to desired active color */
    }
  }
}
